services:
  nginx:
    build:
      context: ./requirements/nginx/
      dockerfile: Dockerfile
    ports:
      - "80:80" ## This can't run in prod
      - "443:443"
    volumes:
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./requirements/web:/var/www/html:rw
    container_name: nginx
    depends_on:
      - wordpress
    networks:
      - inception
  mariadb:
    build:
      context: ./requirements/mariadb/
      dockerfile: Dockerfile
    container_name: mariadb
    env_file:
      - ./.env
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    secrets:
      - db_password
      - db_root_password
    restart: unless-stopped
    volumes:
      - mariadb_data:/var/lib/mysql:rw
    networks:
      - inception
  wordpress:
    build:
      context: ./requirements/wordpress/
      dockerfile: Dockerfile
    container_name: wordpress
    volumes:
      - ./requirements/web:/var/www/html:rw
    expose:
      - "9000"
    depends_on:
      - mariadb
    networks:
      - inception

volumes:
  mariadb_data:

networks:
  inception:
    driver: bridge

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt