services:
  nginx:
    build:
      context: ./requirements/nginx/
      dockerfile: Dockerfile
    ports:
      - "80:80" ## This can't run in prod
      - "443:443"
    volumes:
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./requirements/web:/var/www/html:rw
    container_name: nginx
    depends_on:
      - wordpress
    networks:
      - inception
  mariadb:
    build:
      context: ./requirements/mariadb/
      dockerfile: Dockerfile
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: examplepassword
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
    volumes:
      - mariadb_data:/var/lib/mysql:rw
    networks:
      - inception
  wordpress:
    build:
      context: ./requirements/wordpress/
      dockerfile: Dockerfile
    container_name: wordpress
    volumes:
      - ./requirements/web:/var/www/html:rw
    expose:
      - "9000"
    depends_on:
      - mariadb
    networks:
      - inception

volumes:
  mariadb_data:

networks:
  inception:
    driver: bridge